.detailsDiv > img {
  border-radius: 10px;
  box-shadow: 1px 2px 6px 2px grey;
  width: 400px;
}
.detailsDiv {
  padding: 20px;
  display: flex;
  gap: 40px;
  max-width: 1200px;
}
.detailsDiv > img:hover{
    box-shadow: 1px 2px 6px 2px rgb(87, 87, 201);
}
.detailsDiv > .description > h2{
font-size: 35px;
font-family: sans-serif;
color: rgb(8, 9, 39);
}
.detailsDiv > .description > h4{
    color: rgb(12, 87, 92);
    }
.detailsDiv > .description > p{
 font-size: 24px;
 font-family: sans-serif;
}
.detailsDiv  .mini{
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}
