#product_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.productCard {
  width: 300px;
}
.productCard > a{
    
  }
.productCard > img {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 200px;
}
