* {
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  color: #DEF2F1;
}
body {
  background-color: #3AAFA9;
}
body nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  background-color: #2B7A78;
  align-items: center;
  margin-bottom: 20px;
}
body nav > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}
body nav * {
  font-size: 150%;
}
body #product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  margin: auto;
}
body #product > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #product > img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: fit-content;
}
body #product > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 70%;
  height: max-content;
  padding: 10px;
  gap: 20px;
}
body #product > div div {
  gap: 5px;
}
body #product > div div img {
  width: 60px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
}
